.loader {
    /*свг и/или анимация*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #766df4 94%, #0000) top/12px 12px no-repeat, conic-gradient(#0000 30%, #766df4);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    to {
        rotate: 1turn;
    }
}