.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.editableSpanContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}