.App {
    --header_height: 60px;
    background-color: #FFFFFF;
}

.hw {
    padding: 24px 70px 32px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    overflow-y: auto;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    padding: 24px 70px 10px;
}