.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.number {
    width: 28px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    line-height: 1.25;
    font-weight: 600;
}